body {
  margin: 0;
  background-color: black;
  font-family: "Lexend Deca";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
